.vs
out
build
*.user
*.suo
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.obj
*.o
*.a
*.so
*.dylib
.vscode/
.claude
CLAUDE.md
__pycache__
images/extra_scene_references/
.DS_Store
.cache
exploratory_tests/**/*.png
exploratory_tests/**/*.log
exploratory_tests/**/*.html
build*
performance_reference/**/*.json
/external/OpenUSD/
/external/usd-install/
